# TiDB Serverless 접속 정보
# https://tidbcloud.com 에서 클러스터 생성 후 Connect 버튼에서 확인
TIDB_HOST=gateway01.us-east-1.prod.aws.tidbcloud.com
TIDB_PORT=4000
TIDB_USER=xxxxxxxxx.root
TIDB_PASSWORD=your_password_here
TIDB_DATABASE=live_order
